[Desktop Entry]
Type=Application
Version=1.0
Name=Install Xenon Linux
GenericName=System Installer
Keywords=calamares;system;installer;
TryExec=pkexec calamares
Exec=bash -c 'pkexec calamares'
Comment=Calamares — System Installer
Icon=calamares
Terminal=true
StartupNotify=true
Categories=Qt;System;
X-AppStream-Ignore=true
