[Desktop Entry]
Type=Application
Name=calcurse (calendar)
Comment=Launches the calcurse calendar
Icon=utilities-terminal
Terminal=false
Exec=alacritty -e calcurse
Categories=ConsoleOnly;Calender;ToDo;Notes
MimeType=inode/directory;
Keywords=Calender;ToDo;Notes
