# Normal
st.font:              Cascadia Code:pixelsize=16:antialias=true:autohint=true
st.borderpx:          32
# Xft.dpi: 120

# For High Resolution screens (uncomment to use it)
#st.font:              Cascadia Code:pixelsize=22:antialias=true:autohint=true
#st.borderpx:          32
#Xft.dpi: 120

# For Low Resolution screens (uncomment to use it)
#st.font:              Cascadia Code:pixelsize=12:antialias=true:autohint=true
#st.borderpx:          32
#Xft.dpi: 70

# Colors
#define BG #101010
#define FG #f8f8f6
#define BL #242424
#define WH #fefefe
#define R #ff8989
#define G #f2ff8a
#define Y #fefa67
#define B #a978f6
#define M #fd56f9
#define C #8afeff

! special
*.foreground:   FG
*.background:   BG
*.cursorColor:  FG

! black
*.color0:       BL
*.color8:       BL

! red
*.color1:       R
*.color9:       R

! green
*.color2:       G
*.color10:      G

! yellow
*.color3:       Y
*.color11:      Y

! blue
*.color4:       B
*.color12:      B

! magenta
*.color5:       M
*.color13:      M

! cyan
*.color6:       C
*.color14:      C

! white
*.color7:       WH
*.color15:      WH
